@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body{
    background-color: #fff;
    display: grid;
    place-items: center;
}

.sign-in{
    background-color: #ff6958;
    width: 400px;
    height: 600px;
    position: absolute;
    border-radius: 40px;
    box-shadow: 0 0 50px #b1b1b1;
}

#main-img{
    display: grid;
    justify-content: center;
    padding: 30px;
}

#main-name{
    height: 70px;
    padding: 10px;
    filter:brightness(5);
}

.creds{
    color: #fff;
    background-color: #ff6958;
    text-align: center;
    font-size: 16px;
    margin-right: 40px;
    margin-left: 40px;
    width: 320;
    padding: 15px;
    font-family: 'Comfortaa', sans-serif;
    outline: none;
    border: 0px;
    border: 2px solid #fff;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
}

.creds::placeholder{
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.submit{
    color: #ff6958;
    background-color: #ffffff;
    border: 2px solid #fff;
    width: 320px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 40px;
    display: grid;
    font-family: 'Comfortaa', sans-serif;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
}

.submit:hover{
    box-shadow: 0 0 15px #42424274;
}


.sign{
    color: #fff;
    text-decoration: none;
}

.sign:visted{
    color: #fff;
    text-decoration: none;
}

.other{
    display: grid;
    padding-top: 10px;
    justify-content: center;
}

#ot-wy-ul{
    display: inline-flex;
    list-style: none;
    margin-left: -70px;
}

.other-ways{
    margin-left: 30px;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
    border: 2px solid #ff6958;
    margin-top: 10px;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
}

.other-ways:hover{
    border: 2px solid #ffffff78;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#bt{
    display: grid;
    justify-content: center;
}

#third-party{
    display: grid;
    justify-content: center;
}

#third-party > p{
    margin-top: 20px;
    font-family: 'Comfortaa', sans-serif;
    color: #fff;
    text-align: center;
}


.login-with-google-btn {
    width: 200px;
    height: 40px;
    transition: background-color .3s, box-shadow .3s;
    margin-left: auto;
    margin-right: auto;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
        box-shadow: 0 0 15px #42424274;
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
}


.login-with-fcbk-btn {
    width: 200px;
    height: 40px;

    transition: background-color .3s, box-shadow .3s;
    margin-top: 20px;

    padding: 12px 0px 12px 0px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
        box-shadow: 0 0 15px #42424274;
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
}

.login-with-fcbk-btn > ul{
    padding: 0px;
    margin: 0%;
    list-style: none;
    display: inline-flex;
}

#fb{
    margin: -1px;
    padding-right: 15px;
    height: 20px;
}